<form   [formGroup]="changePasswordForm" 
        class="form-group"
        (ngSubmit)=onChangePassword()>
    <label for="oldPass">Current Password</label>
    <input formControlName="oldPass" class="form-control" type="password">
    <div *ngIf="changePasswordForm.controls.oldPass.touched && changePasswordForm.controls.oldPass.errors">
        <div    *ngIf="changePasswordForm.controls.oldPass.errors.required" 
                class="alert alert-danger">
            Password is required
        </div>
        <div    *ngIf="changePasswordForm.controls.oldPass.errors.invalidOldPass"
                class="alert alert-danger">
            Password is invalid
        </div>
    </div>
    <br>
    <label for="newPass">New Password</label>
    <input formControlName="newPass" class="form-control" type="password">
    <div *ngIf="changePasswordForm.controls.newPass.touched && changePasswordForm.controls.newPass.errors">
        <div    *ngIf="changePasswordForm.controls.newPass.errors.required" 
                class="alert alert-danger">
            Password is required
        </div>
        <div    *ngIf="!changePasswordForm.controls.newPass.errors.required && changePasswordForm.controls.newPass.errors.shouldbeAtLeatsFive"
                class="alert alert-danger">
            Password must be at least 5 characters length
        </div>
    </div>
    <br>
    <label for="newPassRepeated">Confirm Password</label>
    <input formControlName="newPassRepeated" class="form-control" type="password">
    <div *ngIf="changePasswordForm.controls.newPassRepeated.touched && changePasswordForm.controls.newPassRepeated.errors">
        <div    *ngIf="changePasswordForm.controls.newPassRepeated.errors.required" 
                class="alert alert-danger">
            Password is required
        </div>
        <div    *ngIf="!changePasswordForm.controls.newPassRepeated.errors.required && changePasswordForm.controls.newPassRepeated.errors.passwordsShouldMatch"
                class="alert alert-danger">
            Passwords don't match
        </div>
    </div>
    <br>
    <button class="btn btn-primary">Change Password</button>
</form>