<form [formGroup]="form" class="form-group" (ngSubmit)=onChangePassword()>
    <label for="oldPass">Current Password</label>
    <input formControlName="oldPass" class="form-control" type="password">
    <div *ngIf="form.controls.oldPass.touched && form.controls.oldPass.errors">
        <div *ngIf="form.controls.oldPass.errors.required" class="alert alert-danger">
            Password is required
        </div>
        <div *ngIf="form.controls.oldPass.errors.validOldPassword" class="alert alert-danger">
            Password is invalid
        </div>
    </div>
    <br>
    <label for="newPass">New Password</label>
    <input formControlName="newPass" class="form-control" type="password">
    <div *ngIf="form.controls.newPass.touched && form.controls.newPass.errors">
        <div *ngIf="form.controls.newPass.errors.required" class="alert alert-danger">
            Password is required
        </div>
        <div *ngIf="form.controls.newPass.errors.complexPassword" class="alert alert-danger">
            Password must be at least 5 characters length
        </div>
    </div>
    <br>
    <label for="newPassRepeated">New Password</label>
    <input formControlName="newPassRepeated" class="form-control" type="password">
    <div *ngIf="form.controls.newPassRepeated.touched && !form.controls.newPassRepeated.valid" class="alert alert-danger">
        Password is required
    </div>
    <div *ngIf="form.controls.newPassRepeated.touched && form.errors?.passwordsShouldMatch" class="alert alert-danger">
        Passwords don't match
    </div>

    <br>
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Change Password</button>
</form>